project = "bigdata"
env     = "dev"
region  = "la-north-2"

vpc_cidr    = "10.10.0.0/16"
subnet_cidr = "10.10.1.0/24"
allowed_ssh_cidr = "127.0.0.1/32"

enable_bastion = true
enable_kms     = false
enable_mrs     = true
enable_dws     = false
enable_dli     = false
enable_cdm     = false
